Checks: "*,\
 -altera-struct-pack-align,\
 -altera-unroll-loops,\
 -altera-id-dependent-backward-branch,\
 -llvmlibc-callee-namespace,\
 -llvmlibc-restrict-system-libc-headers,\
 -llvmlibc-implementation-in-namespace,\
 -llvmlibc-inline-function-decl,\
 -llvm-else-after-return,\
 -llvm-header-guard,\
 -llvm-include-order,\
 -bugprone-branch-clone,\
 -bugprone-suspicious-include,\
 -bugprone-easily-swappable-parameters,\
 -modernize-use-trailing-return-type,\
 -hicpp-special-member-functions,\
 -google-runtime-references,\
 -fuchsia-overloaded-operator,\
 -fuchsia-default-arguments,\
 -google-readability-todo,\
 -google-global-names-in-headers,\
 -readability-redundant-access-specifiers,\
 -readability-else-after-return,\
 -readability-implicit-bool-conversion,\
 -readability-use-anyofallof,\
 -readability-identifier-length,\
 -performance-inefficient-string-concatenation,\
 -performance-unnecessary-value-param,\
 -fuchsia-default-arguments-declarations,\
 -fuchsia-trailing-return,\
 -fuchsia-multiple-inheritance,\
 -fuchsia-default-arguments-calls,\
 -misc-non-private-member-variables-in-classes,\
 -misc-no-recursion,\
 -misc-include-cleaner,\
 -cppcoreguidelines-special-member-functions,\
 -cppcoreguidelines-prefer-member-initializer,\
 -cppcoreguidelines-avoid-const-or-ref-data-members,\
 -cppcoreguidelines-non-private-member-variables-in-classes"