# Git
.git
.gitignore
.github

# Windows specific
.vs
**/*.ps1
**/*.vcxproj*
**/*.sln
**/packages.config


# Local build/utility folders
.vscode
**/*.pyc
**/*.pyd

**/CMakeUserPresets.json
output
packages
**/build/
**/secrets/
**/venv/
**/pyconcept/ccl
**/*egg-info


# Docker
Dockerfile


# Specific items
docker-compose.yml
rslang/src/RSParserImpl.output
rslang/src/RSParserImpl.gv
**/*.y
**/*.l