# Git
.git
.gitignore


# Local build/utility folders
.vscode
.vs
*.vcxproj.user
*.pyc
*.pyd

output
packages
**/build
**/venv
**/pyconcept/import
**/egg-info


# Specific items
docker-compose.yml
rslang/src/RSParserImpl.output
rslang/src/RSParserImpl.gv