~*
.vs
*.vcxproj.user
*.pch.tmp
*.clang.pch
*.pyc
*.pyd

secrets
packages
build
output
venv/
CMakeUserPresets.json
pyconcept/ccl/
*egg-info

ccl/rslang/src/RSParserImpl.output
ccl/rslang/src/RSParserImpl.gv